<!DOCTYPE html>
<html lang="{{ page.internationalization.lang }}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/fonts/serif/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="icon" type="image/png" href="https://github.githubassets.com/images/icons/emoji/unicode/1f468-1f4bb.png" sizes="any">
  <title>{{ page.internationalization.name }} - {{ page.title }}</title>
</head>
<body class="white-theme">
  <div class="header no-print">
    <h1 class="margin-left margin-right">{{ page.title }}</h1>
  </div>
  <div class="content">
    <div class="left-bar no-print">
      <div class="photo margin-left">
        <img
          src="/photo.jpg"
          alt="{{ page.internationalization.photo.alt }}"
        >
      </div>
      <div class="contacts margin-left">
        <h3>{{ page.internationalization.contacts.title }}</h3>
        <p>
          <a href="{{ page.internationalization.contacts.gmail.link }}">
            <img src="/icons/gmail.png" alt="gmail" width="22px" height="22" align="left">
          </a>
          <a href="{{ page.internationalization.contacts.gmail.link }}">{{ page.internationalization.contacts.gmail.title }}</a>
        </p>
        <p>
          <a href="{{ page.internationalization.contacts.telegram.link }}">
            <img src="/icons/telegram.png" alt="telegram" width="22px" height="22" align="left">
          </a>
          <a href="{{ page.internationalization.contacts.telegram.link }}">{{ page.internationalization.contacts.telegram.title }}</a>
        </p>
      </div>
      <div class="other margin-left">
        <h3>{{ page.internationalization.other.title }}</h3>
        <p>
          <a href="{{ page.internationalization.other.github.link }}">
            <img src="/icons/github.png" alt="play" width="22px" height="22" align="left">
          </a>
          <a href="{{ page.internationalization.other.github.link }}">{{ page.internationalization.other.github.title }}</a>
        </p>
        <p>
          <a href="{{ page.internationalization.other.play.link }}">
            <img src="/icons/play.png" alt="play" width="22px" height="22" align="left">
          </a>
          <a href="{{ page.internationalization.other.play.link }}">{{ page.internationalization.other.play.title }}</a>
        </p>
      </div>
    </div>
    <div class="main">
      {{ content }}
    </div>
    <div class="right-bar no-print">
      <div class="menu margin-left margin-right">
        <h3>{{ page.internationalization.menu.title }}</h3>
        <button class="button-toggle-mode to-white hidden">{{ page.internationalization.menu.white }}</button>
        <button class="button-toggle-mode to-dark">{{ page.internationalization.menu.dark }}</button>
        <p>
          <a href="{{ page.internationalization.menu.toggle_lang.link }}">
            <button class="button">{{ page.internationalization.menu.toggle_lang.title }}</button>
          </a>
        </p>
        <p>
          <a href="{{ page.internationalization.menu.pdf.link }}">
            <button class="button-download-pdf">{{ page.internationalization.menu.pdf.title }}</button>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer no-print">
    <p class="copyright">2022 Designed by Salavat Dautov.</p>
  </div>
  <script type="text/javascript" src="/assets/main.js"></script>
</body>
</html>
